li{
    margin-bottom: 21px;
    color: rgb(24, 21, 21);

   
}
hr{
    width: 60%;
    background-color: rgb(28, 193, 243)
}
p.h6{
    color: rgb(236, 231, 231);
}
.team-card{
    box-shadow: 0 0 8px #c4c1c1;;
}