.card-interface{
  border-color: aqua !important;
  border-radius: 74px 0px !important;
  /* box-shadow: 5px 5px 10px lightgray;/ */
  box-shadow: 0 0 15px #ccc9c9;
}
.card {
  border: none;
  
}
.card-img,
.card-img-bottom,
.card-img-top {
  width: 40%;
  margin: auto;
}
