.achievements-bottom{
    border-radius: 54px 0px;
    padding: 44px 44px;
}
.about-button{
    background: linear-gradient(to right, #0decc7,#09a9e9);
    border-radius: 0 54px;
    padding: 44px 44px;
}
.about-running{
    border-radius: 0 54px;
    padding: 44px 44px;
}