/* .App {
  text-align: center;
} */

h2{
  font-family: 'Abril Fatface', cursive;
}
h1{
  font-family: 'Abril Fatface', cursive;
}

ul {
  list-style-type: none;
}

/* .card {
  box-shadow: 5px 5px 10px lightgray;
} */

.container {
  margin-bottom: 100px !important;
}
